<a href="https://colab.research.google.com/github/lipeffl/Python1/blob/main/pythonAula1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Bem vindo ao Sistem Fuctura!")
print("olá, me chamo Felipe")
print("E você, qual o seu nome?")
print("oi, também me chamo Felipe")
print("Massa")
print("o que está achando do primeiro contato com python?")
print("É preciso praticar e repetir bastante para se familiarizar")

Bem vindo ao Sistem Fuctura!
olá, me chamo Felipe
E você, qual o seu nome?
oi, também me chamo Felipe
Massa
o que está achando do primeiro contato com python?
É preciso praticar e repetir bastante para se familiarizar

In [ ]:
print("Variaveis")
nome = "Felipe"
idade = 36
altura = 1.91
maior = True
print(nome, type(nome), idade, type(idade), altura, type(altura), maior, type(maior))

Variaveis
Felipe <class 'str'> 36 <class 'int'> 1.91 <class 'float'> True <class 'bool'>

In [ ]:
#entrada de dados
salarioBase = float(input("salario base: "))
gratificação = float(input("gratificação: "))

#processamento
salarioBruto = salarioBase + gratificação
#saida
print("O valor do salario é R$ ", salarioBruto)

salario base: 2000
gratificação: 50
O valor do salario é R$  2050.0

In [ ]:
nomeDoHotel = str(input("Qual o nome do hotel? "))
qualidade = int(input("Quantas estrelas? "))
cidade = str(input("Qual o nome da cidade? "))

Qual o nome do hotel? Ibis
Quantas estrelas? 3
Qual o nome da cidade? Recife

In [ ]:
valor1 = 10
valor2 = 20

print(valor1 == valor2)
print(valor1 != valor2)
print(valor1 > valor2)
print(valor1 < valor2)
print(valor1 >= valor2)
print(valor1 <= valor2)

False
True
False
True
False
True

[1] Exercício
Você
trabalha como programador ( de uma empresa
especializada em serviços hoteleiros Em um determinado
projeto, seu líder de equipe te pediu para criar um programa
para gerar um cartão de visitas textual do hotel, conforme
seus dados específicos
O programa precisa ser genérico, ou seja, ele precisa ler o nome, a quantidade de
estrelas e a cidade em que fica o hotel e gerar o cartão conforme modelos do slide
a anterior . Algumas restrições foram estabeecidas:

●
Todos os dados devem ser lidos da entrada padrão (função input());

●
O nome do hotel e sua cidade devem ter exatamente 6 e 8 caracteres,
respectivamente. Use espaços ou outro caractere quando o nome ou cidade
tiverem tamanhos menores que os especificados ou abrevie seu nome caso
sejam maiores;

●
A quantidade de estrelas é um valor entre 1 e 5;

●
A largura do cartão é de exatamente 20 caracteres;

●
O programa deve ser feitos em Python.

In [ ]:
nomeDoHotel = str(input("hotel: "))
estrelas = int(input("Quantas estrelas(entre 1 e 5): "))
cidade = str(input("Cidade do hotel (com 8 letras): "))

hotel: ibis
Quantas estrelas(entre 1 e 5): 4
Cidade do hotel (com 8 letras): Juazeiro

In [ ]:
print("*"*20)
print("******", nomeDoHotel, "********")
print("***", estrelas, "estrela(s)****")
print("***Em ", cidade,"****")
print("*"*20)

********************
****** ibis ********
*** 4 estrela(s)****
***Em  Juazeiro ****
********************

![tabelaAndeorOperadoreslogicos.PNG]()

In [ ]:
print(10>18 and 3>2)
print(20>18 or 3>4)
print(1>2 and 2>3 or 1>0)
print(1>2) and (2>3 or 1>0)

False
True
True
False

In [ ]:
valor1 = 10
print(valor1>0 and valor1 <10)

False

In [ ]:
valor1 = 10
print(valor1>0 or valor1 <10)

True

In [ ]:
valor2 = 20
print(valor2>0 and valor2 <=20)

True

In [ ]:
numero = 10
print(numero>0 and numero<10)
print(numero>0 or numero<10)

False
True

Desvio Condicional

if(se)

else(se não...)

if... else.... else(else não pode duas vezes, então se coloca elif). 

If...elif...else

Cenário
1 Há 2 códigos de desconto válidos, que são os seguintes
FUCTURA 1 e FUCTURA 2 Se o usuário utilizar um desses dois cupons
então aplique um desconto de 15 no valor final da compra
2
ações possíveis

1
aplicar o desconto

2
não fazer nada

In [ ]:
#entrada
cupom = str(input("digite o cupom: "))

#processamento
if(cupom=="FUCTURA1" or cupom=="FUCTURA2"):
  print("você ganhou 15% de desconto!") #saida de dados

digite o cupom: FUCTURA2
você ganhou 15% de desconto!

Cenário
2 

Há 2 códigos válidos de desconto válidos, que são os seguintes
FUCTURA 1 e FUCTURA 2 Se o usuário utilizar um desses dois cupons
então aplique um desconto de 15 no valor final da compra Senão
aplique apenas 10 de desconto
2
ações possíveis

1
aplicar 15

2
aplicar 10

obs: escrever .upper() no final para não diferenciar maiscula de minuscula

In [ ]:
#entrada
cupom = str(input("digite o cupom: ")).upper()

#processamento
if(cupom=="FUCTURA1" or cupom=="FUCTURA2"):
  print("você ganhou 15% de desconto!") #saida de dados
else:
  print("Você ganhou 10% de desconto!")

digite o cupom: fuctura3
Você ganhou 10% de desconto!

Cenário
3 Há 2 códigos de desconto válidos, que são os seguintes Se o usuário
utilizar o código FUCTURA 1 então aplique um desconto de 15 no valor final da
compra Senão se utilizar o código FUCTURA 2 então aplique apenas 10 de
desconto Senão aplique um desconto padrão de 5

3
ações possíveis

1
aplicar 15%

2
aplicar 10%

3
aplicar 5%

In [ ]:
#entrada
cupom = str(input("digite o cupom: ")).upper()

#processamento
if(cupom=="FUCTURA1"):
  print("você ganhou 15% de desconto!") #saida de dados
elif(cupom=="FUCTURA2"):
  print("Você ganhou 10% de desconto!")
else:
    print("você ganhou 5% de desconto!")

digite o cupom: fuctura3
você ganhou 5% de desconto!

EXERCICIO

Um
cliente irá solicitar um empréstimo ao
banco. 
Se o valor do empréstimo for menor
ou igual a 50% do seu salário, então o
empréstimo será aprovado. Senão, se o
valor do empréstimo for menor ou igual a
75% do salário a situação ficará em análise.

Senão informe ao cliente que o
empréstimo não foi aprovado .

(ações 1 aprovar o empréstimo, 2 situação em análise,
3 não aprovar o empréstimo).

Exercicio(slide)
descrever....
**Entrada**
valorDoEmprestimo
valorDoSalario
**processamento**
valor do emprestimo (ve) valor do salario(vs)
ve<= 0.5*vs =aprovado(saida de dados)
ve<= 0.75*vs=analise(saida de dados)
cc(caso contrario)-reporvado(saida de dados)
saida de dados

In [ ]:
#entrada
ve= int (input("valor Do emprestimo ")) 
vs= int(input("Valor do salario "))

#processamento
if(ve<=0.5*vs):
  print("aprovado")#saida de dados
elif(ve<=0.75*vs):
  print("analise")
else:
  print("reprovado")

valor Do emprestimo 800
Valor do salario 1000
reprovado

In [ ]:
#identação
if(1 == 1): #primeiro nivel
 print("segundo nivel") #segundo nivel
 if((1 == 2) == False):
    print("mensagem terceiro nivel") #terceiro nivel

segundo nivel
mensagem terceiro nivel

In [ ]:
#operadores aritimeticos
#entrada
valor1, valor2 = 125, 3
#processamento
soma = valor1 + valor2
subtracão = valor1 - valor2
mult = valor1 * valor2
divisão = valor1 / valor2
#saida
print("a soma é: ", soma, "\nA subtração é: ", subtracão)
print("A multiplicação é: " + str(mult) + "\nA divisão é: " +str(divisão))

a soma é:  128
A subtração é:  122
A multiplicação é: 375
A divisão é: 41.666666666666664

1)Num determinado Estado, para transferências de veículos, o DETRAN cobra uma taxa de 1% para carros
fabricados antes de 1990 e uma taxa de 1.5% para os fabricados de 1990 em diante, a taxa esta incidindo sobre o
valor de tabela do carro. Faça uma algoritmo lê o ano e o preço do carro e a seguir calcula e imprime o imposto a ser pago.

In [ ]:
#entrada
ano = int(input("Qual o ano do carro? ")) 
preco = float(input("Qual o preço do preco do carro? "))

#processamento
if(ano<1990):
  print("O imposto sera de: ", preco*0.01) #saida de dados
else:
    print("O imposto sera de: ", preco*0.015)

Qual o ano do carro? 1990
Qual o preço do preco do carro? 20000
O imposto sera de:  300.0

In [ ]:
print(1.5/100)

0.015

2)Uma empresa concederá um aumento de salário aos seus funcionários, variável de acordo com o cargo,
conforme a tabela abaixo. Faça um algoritmo que leia o salário e o cargo de um funcionário e calcule o novo salário. Se o cargo do funcionário não estiver na tabela, ele deverá, então, receber 40% de aumento. Mostre o salário antigo, o novo salário e a diferença.


![imagem_2022-09-15_154119267.png]()

In [ ]:
#entrada

cargo = str(input("Qual o seu cargo? ")).upper()
sal = float(input("Qual o seu salário? "))

#processamento
if(cargo=="GERENTE"):
  print("Seu novo salário será de R$ ", sal*0.1+sal) #saida de dados
elif(cargo=="ENGENHEIRO"):
  print("Seu novo salário será de R$ ", sal*0.2+sal) 
elif(cargo=="TÉCNICO"):
  print("Seu novo salário será de R$ ", sal*0.3+sal)
else:
  print("Seu novo salário será de R$ ", sal*0.4+sal)

Qual o seu cargo? Gerente
Qual o seu salário? 2000
Seu novo salário será de R$  2200.0

3)Um banco concederá um crédito especial aos seus clientes, variável com o saldo médio no último ano. Faça um
algoritmo que leia o saldo médio de um cliente e calcule o valor do crédito de acordo com a tabela abaixo. Mostre
uma mensagem informando o saldo médio e o valor do crédito.

![imagem_2022-09-15_220616684.png]()

In [ ]:
#entrada
sm = float(input("Qual foi seu saldo médio no último ano? "))

#processamento
if(sm<=200): #saida
 print("Seu saldo medio é R$", sm, ". Você não tem direito a crédito")
elif(sm>=201 and sm<=400):
  print("Seu saldo médio é R$", sm, ". O valor do crédito R$" , sm*0.2)
elif(sm>=401 and sm<=601):
    print("Seu saldo médio é R$", sm, ". O valor do crédito é R$", sm*0.3)
else:
  print("Seu saldo médio é R$", sm," O valor do crédito é R$", sm*0.4)

Qual foi seu saldo médio no último ano? 602
Seu saldo médio é R$ 602.0  O valor do c´redito é R$ 240.8

4) Faça um algoritmo que leia um número e mostre uma mensagem indicando se este número é par ou ímpar e se é positivo ou negativo.

In [ ]:
#entrada de dados
n = int(input("Digite um número: "))
#processamento
if((n%2==0) and (n>0)):
  print(n, "é par e positivo") #saida de dados
elif((n%2==0) and (n<0)):
  print(n, "é par e negativo")
elif((n%2==1) and (n>0)):
  print(n, "é ímpar e positivo")  
else:
  print(n, "é ímpar e negativo")

Digite um número: -3
-3 é ímpar e negativo

5) Elabore um algoritmo que leia 5 valores inteiros em cinco variáveis diferentes e apresente na tela o maior e o menor deles.

In [ ]:
#entrada
n1 = int(input("Diga um número: "))
n2 = int(input("Diga outro número: ")) 
n3 = int(input("Diga outro número: "))
n4 = int(input("Mais um número: "))
n5 = int(input("Outro número: "))
#processamento
maior = n1
menor = n2
if(n2 > maior):
  maior = n2 
if(n3 > maior):
  maior = n3
if(n4 > maior):
  maior = n4
if(n5 > maior):   
  maior = n5
if(n1 < menor):
  menor = n1
if(n3 < menor):
  menor = n3  
if(n4 < menor):
  menor = n4  
if(n5 < menor):
  menor = n5  

print("O maior é ",maior, "e o menor é", menor) #saida de dados

Diga um número: 9
Diga outro número: 4
Diga outro número: 3
Mais um número: 2
Outro número: 1
O maior é  9 e o menor é 1

In [ ]:
primeiro = int(input('Primeiro numero: '))
segundo  = int(input('Segundo numero : '))
terceiro = int(input('Terceiro numero: '))

# Achando o maior número
maior = primeiro

if (segundo > maior):
    maior = segundo
if (terceiro > maior):
    maior = terceiro
print('Maior: ',maior)

Primeiro numero: 3
Segundo numero : 2
Terceiro numero: 1
Maior:  3

6) A escola “Fuctura Tecnologia” faz o pagamento de seus professores por hora/aula. Faça um algoritmo que calcule e exiba o salário de um professor. Sabe - se que o valor da hora/aula segue abaixo:

Professor Nível 1 - Monitor: R$12,00 por hora/aula

Professor Nível 2 - Instrutor: R$27,00 por hora/aula

Professor Nível 3 - Magistério: R$ 35,00 por hora/aula

In [ ]:
#entrada
ha = float(input("Quantas horas você trabalha? "))
vh = float(input("Qual o valor de sua hora? "))
#processamento
if(vh==12.00): #saida
  print("Monitor, seu salário é de R$ ", ha*vh)
elif(vh==27.00):
  print("Instrutor, seu salário é de R$ ", ha*vh)
elif(vh==35.00):
  print("Professor, seu salario é de R$ ", ha*vh)

Quantas horas você trabalha? 16
Qual o valor de sua hora? 27
Instrutor, seu salário é de R$  432.0

o exercicio anterior estava sendo terminado com else e não funcionava, pode terminar com elif e sem o else. O Else que em outros momentos não tinha nada escrito. - ouseja: se não... se tudo qeu foi mencionado não for, então qualquer coisa valae para esse valor. Se não foi 1, 2 ou 3... else... qulquer um.

In [ ]:
n = int(input("Qual o numero? "))
if(n%2==0):
  print("Esse número é par")
else:
  print("Esse número é ímpar")

Qual o numero? 14
Esse número é par

numero par e número ímpar:

Cria uma variavel chamada núemro ou n (por exemplo) e pede o resto % de 2. n%2 ou numero%2
Se  o resultado for 0, cai no IF dizendo que é par,se não for, cai no ELSE dizendo que é ímpar.

Opção 2:
como 1 é true e 0 false, basta perguntar o resto de divisão sem colocar o if como sendo == a algo, porém o ímpar vai para o if e o par para o else. Exeemplo abaixo.

In [ ]:
n = int(input("Qual o seu número? "))

if(n%2):
  print("ímpar")
else:
  print("par")

Qual o seu número? 5
ímpar

Positivo ou negativo abaixo.

In [ ]:
n = int(input("Digite um número: "))
if(n<=0):
  print("Negativo")
else:
  print("Positivo")

Digite um número: 5
Positivo